<div class="menu-wrapper" ng-cloak>
  <div part="center">
    <!-- 网站logo -->
    <div part="logo">
      <a href="https://www.cn-abs.com/">
        <img ng-src="{{logo}}" alt="LOGO">
        <div part="company_name">
          <h2>中国资产证券化分析</h2>
          <h3>China Securitization Analytics</h3>
        </div>
      </a>
    </div>

    <!-- 第一分类 -->
    <div part="categories">
      <ul part="primary_categories">
        <li
          part="primary_category"
          ng-repeat="primaryCategory in $ctrl.data.categories"
        >
          <a
            part="primary_category_a"
            ng-href="{{primaryCategory.url}}"
            ng-click="showSubList($event)"
          >{{primaryCategory.name}}</a>
          <div ng-if="primaryCategory.tag" part="hot">{{primaryCategory.tag}}</div>
          <div part="secondary_categories">
            <div
              part="secondary_category"
              ng-repeat="secondary_category in primaryCategory.children"
            >
              <h2>
                <a ng-href="{{secondary_category.url}}">{{secondary_category.name}}</a>
              </h2>
              <div part="third_categories">
                <ul>
                  <li ng-repeat="third_category in secondary_category.children">
                    <a ng-href="{{third_category.url}}">
                      {{third_category.name}}
                    </a>
                    <span ng-if="third_category.lock === true">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M82.038,42.271h-5.7V28.004C76.338,13.481,64.523,1.666,50,1.666S23.662,13.481,23.662,28.004v14.267h-5.7	c-1.104,0-2,0.896-2,2v52.063c0,1.104,0.896,2,2,2h64.076c1.104,0,2-0.896,2-2V44.271C84.038,43.166,83.143,42.271,82.038,42.271z	 M45.624,75.866c-1.302-1.218-2.02-2.871-2.02-4.656c0-3.527,2.869-6.396,6.396-6.396s6.396,2.869,6.396,6.396	c0,1.785-0.717,3.438-2.02,4.656c-0.404,0.378-0.634,0.907-0.634,1.461v6.782c0,2.064-1.679,3.743-3.743,3.743	s-3.743-1.679-3.743-3.743v-6.782C46.257,76.773,46.028,76.244,45.624,75.866z M50,15.863c6.694,0,12.14,5.446,12.14,12.141v14.267	H37.86V28.004C37.86,21.31,43.306,15.863,50,15.863z"/></svg>
                      </span>
                    <span ng-if="third_category.lock === false">
                        <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M73.012,3.594c-14.299,0-25.934,11.635-25.934,25.934v8.764H3.055c-0.529,0-1.039,0.211-1.414,0.586	c-0.375,0.377-0.586,0.885-0.586,1.416l0.041,54.115c0,1.104,0.896,1.998,2,1.998l0,0l57.916-0.041c1.104,0,1.998-0.895,1.998-2	V40.252c0-0.533-0.213-1.045-0.592-1.42c-0.373-0.373-0.881-0.58-1.408-0.58c-0.004,0-0.01,0-0.016,0l-2.959,0.023v-8.748	c0-8.258,6.719-14.977,14.977-14.977s14.975,6.719,14.975,14.977v6.764c0,1.105,0.896,2,2,2h6.959c1.104,0,2-0.895,2-2v-6.764	C98.945,15.229,87.311,3.594,73.012,3.594z"/></svg>
                      </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!--登录信息-->
    <div part="login_out">
      <!--已登录-->
      <div ng-if="$ctrl.data.user.login" part="logged">
        <div part="userInfo">
          <a part="user" href="#" ng-click="showUserInfo()" ng-class="{'cur':userInfoVisable}">
            <img ng-src="{{$ctrl.data.user.detail.avatar}}" alt="">
            <span>{{$ctrl.data.user.detail.userName}}</span>
            <i>三角形</i>
            <mark>{{$ctrl.data.user.detail.msgNumber}}</mark>
          </a>

          <div part="user-rights" ng-show="userInfoVisable">
            <div part="user-right">
              <h2>账户信息</h2>
              <ul>
                <li>
                  <a href="https://www.cn-abs.com/Account/Profile.aspx">个人资料</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Account/Balance.aspx">积分中心</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Account/ChangePassword.aspx">修改密码</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Account/SubManage.aspx">订阅管理</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Deal/PrivateDealApply.aspx">私有产品申请</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Account/login.aspx">退出登录</a>
                </li>
              </ul>
            </div>
            <div part="user-right">
              <h2>公告</h2>
              <ul>
                <li>
                  <a href="https://www.cn-abs.com/Account/Message.aspx?type=public">站内消息</a>
                  <mark>{{$ctrl.data.user.detail.msgNumber}}</mark>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Account/Message.aspx?type=ticket">工单管理消息</a>
                </li>
              </ul>
            </div>
            <div part="user-right">
              <h2>工单管理</h2>
              <ul>
                <li>
                  <a href="https://www.cn-abs.com/Tickets/Ticket.aspx">创建工单</a>
                </li>
                <li>
                  <a href="https://www.cn-abs.com/Tickets/TicketSummary.aspx">工单汇总</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--未登录-->
      <div ng-if="!$ctrl.data.user.login" part="not_loged">
        <ul>
          <li>
            <a href="https://www.cn-abs.com/Account/Login.aspx">登录</a>
          </li>
          <li>
            <a href="https://www.cn-abs.com/Apply/Apply.aspx">注册</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
